* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  body {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
  }