:root {
  --light-grey-blue:rgb(212, 218, 218);
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

 * header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

 * body {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  .project_card img {
    height: 200px;
    border-radius: 50%;
  }

  #project_section {
    background-color: var(--light-grey-blue);
    display: flex;
    flex-direction: column;
  }

  #project_section h2 {
    text-align: center;
    border: 0px;
    padding: 10px;
  }

  #project_section ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  .project_card {
    margin: 10px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project_card:hover {
    background-color: rgb(202, 208, 213);
    border:1px solid darkgrey;
    border-radius: 1%;
    transform:scale(1.05);
  } 

  #contact_image img {
    border-radius: 10%;
    height: 397px;
  }

  #skills_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #skills_section th, td {
    padding: 10px;
   text-align: center;
    border: 1px solid;
    border-collapse: collapse;
  }

  #skills_section table {
    padding: 10px;
    border: 1px solid;
  }

  #button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    margin: 10px;
    text-align: center;
    max-height: 100px;
  }

/*footer img {
  height: 20px;
}*/
.social_media_links a img {
  height:20px;
  margin: 7px;
}

.social_media_links a img:hover {
  transform: scale(1.5);
}

footer p {
  font-size: 14px;
}