* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  body {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
  }

  #project_section img {
    height: 200px;
    border-radius: 50%;
  }

  #project_section {
    background-color: rgb(159, 202, 203);
  }